@import 'nib'

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue/BebasNeue_Regular.eot');
    src: url('../fonts/BebasNeue/BebasNeue_Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue/BebasNeue_Regular.ttf') format('truetype'),
         url('../fonts/BebasNeue/BebasNeue_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueLight';
    src: url('../fonts/BebasNeue/BebasNeue_Light.eot');
    src: url('../fonts/BebasNeue/BebasNeue_Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue/BebasNeue_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
    font-family sans-serif
    background #F5F5F5
    margin 0px

.u-wrapper
    margin 0px auto
    max-width 1000px
    padding 0px 15px
    
.layout
    text-align center
    color #7437BC
    &-logo
        margin-top 20px
    &-title
        font-family 'Roboto Slab', serif
        font-weight 100
        font-size 2em
        line-height 0.5em
    &-subtitle
        font-family 'Lato', sans-serif
        font-style italic
        font-size 1.5em
        line-height 0.5em
    &-line
        background #7437BC
        height 3px
        width 125px
        margin 0px auto
.subscription
    display flex
    margin-top 70px
    justify-content space-between
    &-itemButton
        background #FDE500
        border 0px
        border-radius 5px
        color #7437BC
        font-size 1.1em
        line-height 50px
        padding 0px 15px
        margin-top -5px
        &:hover
            background #7437BC
            color #FDE500
            cursor pointer
            transition 0.3s
    &-item
        text-align center
        .subscription-itemType
            margin 0px
            text-align center
            img
                margin-top 25px
                display block
        .subscription-itemNumber
            background #7437BC
            color #ffffff
            border-radius 50%
            padding 10px 20px
            font-size 2.1em
            line-height 1.7em
        .subscription-itemName
            font-family 'BebasNeueLight'
            font-size 1.7em
            color #7437BC
            line-height 0px


.form
    display flex
    justify-content space-between
    background #ffffff
    padding 35px
    border-radius 10px
    margin-top 25px
    &-left
        background linear-gradient(top, #A13FEA, #7437BC)
        padding 15px
        border-radius 10px
        .form-leftTitle
            font-family 'Roboto Slab'
            font-weight 100
            color #7437BC
        .form-planPrice
            display inline-block
            vertical-align middle
            margin 0px
            padding 15px
            font-family 'Lato'
            font-weight 100
            color #ffffff
            font-size 1.6em
            span
                font-size 0.6em
                font-weight 400
            &:nth-child(even)
                padding-bottom 15px
                border-bottom 1px solid #3B1D5F
    &-middle
        label
            display block
            font-family 'Lato', sans-serif
            font-size 1.1em
            color #7437BC
            font-weight 700
        input
            width 280px
            height 32px
            padding-left 5px
            margin-bottom 13px
            border-radius 5px
            border 0px
            box-shadow inset 0px 0px 1px rgba(black, 0.5)
        button
            background #99E742
            border-radius 10px
            line-height 38px
            font-family 'Lato', sans-serif
            width 100%
            border 0px
            color #ffffff
            font-size 1.6em
    &-right
        label
            display block
            font-family 'Lato', sans-serif
            font-size 1.1em
            color #7437BC
            font-weight 700
        input
            width 280px
            height 32px
            padding-left 5px
            margin-bottom 13px
            border-radius 5px
            border 0px
            box-shadow inset 0px 0px 1px rgba(black, 0.5)

            
@media screen and (max-width: 738px)
    .layout
        &-title
        &-subtitle
            line-height 1em


@media screen and (max-width: 630px)
    body
        text-align center
    .subscription
        display inline-block
        text-align center
        &-item
            margin-bottom 35px
            .subscription-itemType
                img
                    margin 15px auto
                    width 50%

@media screen and (max-width: 468px)
    body
        text-align center
    .subscription
        display inline-block
        text-align center
        &-item
            margin-bottom 35px
            .subscription-itemType
                img
                    margin 15px auto
                    width 50%