<!DOCTYPE html>
{% load staticfiles %}
<html lang="es" class="bg-morado">
    <head>
        <meta charset="utf-8">
        <title>Quiickly: Condones cuando más los necesitas</title>
        <meta name=”description” content=”Somos la app movil que te permitira obtener condones casi al instante, no esperes mas y utiliza Quiickly hoy!”>
        <meta name="keywords" content="Condones, App, movil, preservativos, cali, caracol, adn, miguelreng, miguel, rengifo, quiickly, quickly, startup, colombia, cali, sexo, sexual, sensual, durex, domicilio, 20, minutos, programado, express, embarazos, no, deseados, amor, corazon, amistad">
        <meta name="author" content="Script Media SAS">
        <link rel="stylesheet" href="{% static 'landing/css/main.css' %}" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link href="{% static 'web/main_web.css' %}" rel="stylesheet">

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-34909647-5', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body class="bg-morado">
    <!--<div class="content-nav">
      <div class="inner-logo">
        <figure class="layout-contentLogo">
          <img src="{% static 'landing/images/quiickly.png' %}" alt="" />
        </figure>
      </div>
      <div class="menuNav">
          <ul class="listMenu">
            <li><a href="{% url 'web:ondemand_index' %}"><span>Tienda</span></a></li>
            <li><a href="quiickly.co/blog"><span>Blog</span></a></li>
            <li><a href="quiickly.co/acerca"><span>Acerca</span></a></li>
            <li><a href="emailto:love@quiickly.co"><span>Contáctanos</span></a></li>
          </ul>
      </div>
      </div>-->

        <div style="margin: 10px 52px;">
            {% include "header-index.html" %}
        </div>
     
        <section class="layout">
            <!-- <div class="u-wrapper"> -->
                <div class="layout-content" style="color: #F5F5F5;">
                   <h1> Acerca de Quiickly</h1>
                   <p style="max-width: 700px">Quiickly, somos una startup que nacio en marzo del 2015 con el objetivo de enviar condones cuando mas se necesitan, nos reunimos 4 jovenes colombianos con la meta de ser el mejor delivery de condones en Latam, nos dimos cuenta de un gran problema social que sucede en latino america y es el del no uso de condones este con lleva a que se presenten muchos casos de embarazos no deseados y de VIH/SIDA. Un 10% de la ganancias de Quiickly son destinadas a la donación de condones y a clases de educación sexual en poblaciones de alta pobreza. </p>
                </div>
                
            <!-- </div> -->
        </section>
        <footer class="footer">
            <h2 class="footer-title">Lo que dicen los medios</h2>
            <ul class="footer-media">
                <li>
                    <a href="http://www.eluniversal.com.co/tecnologia/lanzan-la-primera-aplicacion-para-pedir-condones-domicilio-210806" target="_blank">
                        <img src="{% static 'landing/images/el-universal.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a  href="http://www.enter.co/chips-bits/apps-software/quiickly-la-aplicacion-colombiana-para-pedir-condones-a-domicilio/" target="_blank">
                        <img src="{% static 'landing/images/enter-co.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a href="http://www.pulzo.com/tecnologia/que-tal-un-quiickly-lanzan-la-primera-aplicacion-para-pedir-condones-domicilio/407610" target="_blank">
                        <img src="{% static 'landing/images/pulzo.png' %}" alt="" />
                    </a>
                </li>

                <li>
                    <a  href="http://www.xataka.com.co/aplicaciones/quiickly-es-la-app-colombiana-que-te-permite-pedir-condones-a-domicilio" target="_blank">
                        <img src="{% static 'landing/images/xataka.png' %}" alt="" />
                    </a>
                </li>
              </ul>
              <br>
              <ul class="footer-media">
                <li>
                    <a href="http://www.noticiascaracol.com/valle/cali/jovenes-le-apuestan-evitar-embarazos-no-deseados-en-cali" arget="_blank">
                        <img src="{% static 'landing/images/caracol.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a  href="http://www.elespectador.com/noticias/nacional/condones-domicilio-cali-articulo-579297" arget="_blank">
                        <img src="{% static 'landing/images/espectador.png' %}" alt="" />
                    </a>
                </li>
                 <li>
                    <a  href="http://www.eltiempo.com/tecnosfera/aplicaciones-colombianas-para-android-iphone/16445501" arget="_blank">
                        <img src="{% static 'landing/images/eltiempo.png' %}" alt="" />
                    </a>
                </li>
            </ul>
            <br>
            <br>
            <ul class="footer-media">
              <p>Todos los derechos reservados 2015, Quiickly es una marca de Script Media S.A.S. / <a href="emailto:love@quiickly.co"> Contactanos!</a></p>
            </ul>
        </footer>
    </body>
</html>
