{% load staticfiles %}
        <div class="masthead">
            <div class="inner-header">
              <!--<h3 class="masthead-brand">Quiickly</h3>-->
              <img src="{% static 'img/Quiickly-logo.png' %}" style="display: inline-block; max-width:131px;" alt="" class="img-responsive img-logo">
              <nav>
                <ul class="nav masthead-nav listMenu">
                  <li><a href="{% url 'web:ondemand_index' %}" style="font-weight:normal !important;"><span>Tienda</span></a></li>
                  <li><a href="/blog" style="font-weight:normal !important;"><span>Blog</span></a></li>
                  <!--<li><a href="{% url 'acerca' %}"><span>Acerca</span></a></li>-->
                  <li><a href="emailto:love@quiickly.co" style="font-weight:normal !important;"><span>Contáctanos</span></a></li>
                {% if not user.is_authenticated %}
                      <li class=""><a href="/login/?next=/tienda/" style="font-weight:normal !important;"><span>Iniciar sesión</span></a></li>
                {% endif %}
                </ul>
              </nav>
            </div>
        </div>