<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Quiickly: Condones cuando más los necesitas</title>
        <meta name=”description” content=”Somos la app movil que te permitira obtener condones casi al instante, no esperes mas y utiliza Quiickly hoy!”>
        <meta name="keywords" content="Condones, App, movil, preservativos, cali, caracol, adn, miguelreng, miguel, rengifo, quiickly, quickly, startup, colombia, cali, sexo, sexual, sensual, durex, domicilio, 20, minutos, programado, express, embarazos, no, deseados, amor, corazon, amistad">
        <meta name="author" content="Script Media SAS">
        <link rel="stylesheet" href="{% static 'landing/css/main.css' %}" />
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link href="{% static 'web/main_web.css' %}" rel="stylesheet">
        <style type="text/css">
          #mc_embed_signup{background: rgba(255, 0, 0, 0); clear:left; font:14px "Montserrat-Light",sans-serif; font-weight: lighter !important;}
          #mc_embed_signup .button{font:14px "Montserrat-Light",sans-serif !important; font-size: 18px !important; font-weight: bold !important; background-color: #FEE600; color: #7336BB !important;}
          #mc_embed_signup .button:hover{ background-color: #ECD81D !important; }
          #mce-EMAIL{ border: 1px solid rgba(103, 58, 183, 0.41) !important; background-color: #fff; font:14px "Montserrat-Light",sans-serif; border-radius: 5px; height: 18px;}
          #mc_embed_signup form { padding: 10px 0px 10px 0% !important; }
        </style>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-34909647-5', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
    <!--<div class="content-nav">
      <div class="inner-logo">
        <figure class="layout-contentLogo">
          <img src="{% static 'landing/images/quiickly.png' %}" alt="" />
        </figure>
      </div>
      <div class="menuNav">
          <ul class="listMenu">
            <li><a href="{% url 'web:ondemand_index' %}"><span>Tienda</span></a></li>
            <li><a href="quiickly.co/blog"><span>Blog</span></a></li>
            <li><a href="quiickly.co/acerca"><span>Acerca</span></a></li>
            <li><a href="emailto:love@quiickly.co"><span>Contáctanos</span></a></li>
          </ul>
      </div>
      </div>-->

        <div style="margin: 10px 52px;">
            {% include "header-index.html" %}
        </div>
     
        <section class="layout">
            <!-- <div class="u-wrapper"> -->
                <div class="layout-content">
                    <!--<figure class="layout-contentLogo">
                        <img src="{% static 'landing/images/quiickly.png' %}" alt="Quiickly" />
                    </figure>-->
                    
                    <p class="layout-contentMoto">Esperar <strong>20 MINUTOS</strong> no se compara a esperar <strong>9 MESES.</strong></p>
                    <h1 class="layout-contentTitle">Enviamos condones cuando más los necesitas...</h1>

                    <figure class="layout-contentStore">
                      <!-- Begin MailChimp Signup Form -->
                      <a id="descarga" href="https://play.google.com/store/apps/details?id=co.quiickly" target="_blank"><img src="{% static 'landing/images/playstore.png' %}" alt="" /></a>
                      <a href="{% url 'web:ondemand_index' %}"><button class="button-store">COMPRAR ONLINE</button></a>

                     <!-- <div id="mc_embed_signup">
                        <form action="//quiickly.us11.list-manage.com/subscribe/post?u=dcfe5fd1ba6087b406b66a5cd&amp;id=a62cbe91b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div id="mc_embed_signup_scroll">
                              <label for="mce-EMAIL" class="layout-contentTitle">Deseo enterarme de todas las novedades!</label>
                              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo electrónico" required>
                              <div style="position: absolute; left: -5000px;"><input type="text" name="b_dcfe5fd1ba6087b406b66a5cd_a62cbe91b4" tabindex="-1" value=""></div>
                              <div class="clear"><input type="submit" value="Avísame!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                          </div>
                        </form>
                      </div>-->
                      <!--End mc_embed_signup-->
                        <!--<a id="descarga" href=""><img src="images/playstore.png" alt="" /></a>-->
                    </figure>
                </div>
                <div class="layout-image">
                    <figure class="layout-imageApp">
                        <img src="{% static 'landing/images/app-preview.png' %}" alt="" />
                    </figure>
                </div>
            <!-- </div> -->
        </section>
        <footer class="footer">
            <h2 class="footer-title">Lo que dicen los medios</h2>
            <ul class="footer-media">
                <li>
                    <a href="http://www.eluniversal.com.co/tecnologia/lanzan-la-primera-aplicacion-para-pedir-condones-domicilio-210806" target="_blank">
                        <img src="{% static 'landing/images/el-universal.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a  href="http://www.enter.co/chips-bits/apps-software/quiickly-la-aplicacion-colombiana-para-pedir-condones-a-domicilio/" target="_blank">
                        <img src="{% static 'landing/images/enter-co.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a href="http://www.pulzo.com/tecnologia/que-tal-un-quiickly-lanzan-la-primera-aplicacion-para-pedir-condones-domicilio/407610" target="_blank">
                        <img src="{% static 'landing/images/pulzo.png' %}" alt="" />
                    </a>
                </li>

                <li>
                    <a  href="http://www.xataka.com.co/aplicaciones/quiickly-es-la-app-colombiana-que-te-permite-pedir-condones-a-domicilio" target="_blank">
                        <img src="{% static 'landing/images/xataka.png' %}" alt="" />
                    </a>
                </li>
              </ul>
              <br>
              <ul class="footer-media">
                <li>
                    <a href="http://www.noticiascaracol.com/valle/cali/jovenes-le-apuestan-evitar-embarazos-no-deseados-en-cali" arget="_blank">
                        <img src="{% static 'landing/images/caracol.png' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a  href="http://www.elespectador.com/noticias/nacional/condones-domicilio-cali-articulo-579297" arget="_blank">
                        <img src="{% static 'landing/images/espectador.png' %}" alt="" />
                    </a>
                </li>
                 <li>
                    <a  href="http://www.eltiempo.com/tecnosfera/aplicaciones-colombianas-para-android-iphone/16445501" arget="_blank">
                        <img src="{% static 'landing/images/eltiempo.png' %}" alt="" />
                    </a>
                </li>
            </ul>
            <br>
            <br>
            <ul class="footer-media">
              <p>Todos los derechos reservados 2015, Quiickly es una marca de Script Media S.A.S. / <a href="emailto:love@quiickly.co"> Contactanos!</a></p>
            </ul>
        </footer>
    </body>
</html>
