@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeue/BebasNeue_Regular.eot");
  src: url("../fonts/BebasNeue/BebasNeue_Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/BebasNeue/BebasNeue_Regular.ttf") format('truetype'), url("../fonts/BebasNeue/BebasNeue_Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueLight';
  src: url("../fonts/BebasNeue/BebasNeue_Light.eot");
  src: url("../fonts/BebasNeue/BebasNeue_Light.eot?#iefix") format('embedded-opentype'), url("../fonts/BebasNeue/BebasNeue_Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
 * Globals
 */



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif !important;
}
body {
  color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: block;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
.site-wrapper-inner {
  display: block;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.bg-morado {
  background-color: #673ab7 !important;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.inner-header {
  padding: 13px 10px 10px 5px;
}
.content {
  display: block;
}

.content-form {
  background-color: #fff;
  padding: 15px;
}

.titulo {
  color: #4F1A8E;
  font-family: 'Lato', sans-serif !important;
}

#detalle-orden, #detalle-compra {
  display: inline-block;
  width: 100%;
  height: 350px;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 10px;
  border-top: 2px solid rgba(79, 26, 142, 0.53);

}

.content-row {
    background-color: #fff;
    min-height: 300px;
    border-top: 2px solid rgba(79, 26, 142, 0.53);
}

/*
 * Header
 */
 .masthead {
  font-family: 'Lato', sans-serif !important;
  background-color: #F5F5F5;
  margin-bottom: 5px;
  text-align: center;
  z-index: 999;
 }
.img-logo {
  margin-top: 10px;
  margin-bottom: 15px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: rgba(79, 26, 142, 0.53); /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #4F1A8E;
  border-bottom-color: #FDE500;
}

.text-web {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  margin: 31px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .img-logo {
    float: left;
  }
  .content {
    margin-top: 112px;
    padding: 10px;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  /*.masthead {
    position: fixed;
    top: 0;
  }*/
  .img-logo {
    float: left;
  }
  .content {
    margin-top: 112px;
    padding: 10px;
  }
  /*.mastfoot {
    position: fixed;
    bottom: 0;
  }*/
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    padding: 0px 15px;
  }
  .content {
    margin-top: 112px;
  }
  .img-logo {
    float: left;
  }

}
