{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block block_content %}

<section class="content-header">
          <h1>
            Crear Producto
          </h1>
          
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-xs-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="box-body">
                   {{ producto_form.non_field_errors }}
                  	<div class="form-group">
                      {{ producto_form.nombre.label }}
                      {{ producto_form.nombre|add_class:'form-control' }}
                      {{ producto_form.nombre.errors }}
                      
                    </div>
                    <div class="form-group">
                      {{ producto_form.descripcion.label }}
                      {{ producto_form.descripcion|add_class:'form-control'|attr:'rows:4' }}
                      {{ producto_form.descripcion.errors }}
                      
                    </div>
                    
                    <div class="row">
	                    <div class="col-sm-4">
	                        <div class="form-group">
		                      {{ producto_form.marca.label }}
                          {{ producto_form.marca|add_class:'form-control' }}
                          {{ producto_form.marca.errors }}
	                    	</div>
	                    </div>
                    	
	                    <div class="col-sm-4">
	                      <div class="form-group">
		                      {{ producto_form.tipo.label }}
                          {{ producto_form.tipo|add_class:'form-control' }}
                          {{ producto_form.tipo.errors }}
	                    	</div>
	                    </div>
	                    <div class="col-sm-4">
	                      <div class="form-group">
		                      {{ producto_form.cantidad.label }}
                          {{ producto_form.cantidad|add_class:'form-control' }}
                          {{ producto_form.cantidad.errors }}
	                    	</div>
		                      
	                    </div>
                    </div>
                    <div class="row">
	                    <div class="col-sm-3">
	                        <div class="form-group">
		                      {{ producto_form.estado.label }}
                          {{ producto_form.estado|add_class:'form-control' }}
                          {{ producto_form.estado.errors }}
	                    	</div>
	                    </div>
                    	
	                    <div class="col-sm-3">
	                        <div class="form-group">
		                      {{ producto_form.precio.label }}
                          {{ producto_form.precio|add_class:'form-control' }}
                          {{ producto_form.precio.errors }}
	                    	</div>
	                    </div>
                      <div class="col-sm-3">
                          <div class="form-group">
                           {{ producto_form.precio_programado.label }}
                           {{ producto_form.precio_programado|add_class:'form-control' }}
                           {{ producto_form.precio_programado.errors }}
                        </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="form-group">
                          {{ producto_form.imagen.label }}
                          {{ producto_form.imagen }}
                          {{ producto_form.imagen.errors }}
                        </div>
                      </div>
                      
                    </div>
                               

                  
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </div>
           
                </form>
              </div><!-- /.box -->
            </div><!--/.col (left) -->
        
          </div>   <!-- /.row -->
        </section><!-- /.content -->

{% endblock block_content%}