{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block block_content %}

<section class="content-header">
          <h1>
            Crear Quiickler
          </h1>
          
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-xs-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="box-body">
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} alert-dissmissable">
                              {{message}}
                          </div>
                      {%endfor%}
                  {% endif %}
                   {{ user_form.non_field_errors }}
                   {{ q_form.non_field_errors }}

                    <div class="row">
                      <div class="col-sm-4">
                          <div class="form-group">
                          <label>Usuario</label>
                          {{ user_form.name|add_class:'form-control' }}
                          {{ user_form.name.errors }}
                        </div>
                      </div>
                      
                       <div class="col-sm-6">
                        <div class="form-group">
                          {{ user_form.email.label}}
                          {{ user_form.email|add_class:'form-control' }}
                          {{ user_form.email.errors }}
                        </div>
                          
                      </div>
                      <!-- <div class="col-sm-3">
                        <div class="form-group">
                            {{ user_form.password.label}}
                            {{ user_form.password|add_class:'form-control' }}
                            {{ user_form.password.errors }}
                        </div>
                      </div> -->
                    </div>
                    <div class="row">
	                    <div class="col-sm-6">
	                        <div class="form-group">
		                      {{ q_form.nombre.label}}
		                      {{ q_form.nombre|add_class:'form-control' }}
		                      {{ q_form.nombre.errors }}
	                    	</div>
	                    </div>
                    	
	                    <div class="col-sm-3">
	                      <div class="form-group">
		                      {{ q_form.placa.label}}
		                      {{ q_form.placa|add_class:'form-control' }}
		                      {{ q_form.placa.errors }}
	                    	</div>
	                    </div>
	                    <div class="col-sm-3">
	                      <div class="form-group">
		                      {{ q_form.estado.label}}
		                      {{ q_form.estado }}
		                      {{ q_form.estado.errors }}
	                    	</div>
		                      <small>Disponible o No disponible</small>
	                    </div>
                    </div>
                    <div class="row">
	                    <div class="col-sm-6">
	                        <div class="form-group">
		                      {{ q_form.direccion.label}}
		                      {{ q_form.direccion|add_class:'form-control' }}
		                      {{ q_form.direccion.errors }}
	                    	</div>
	                    </div>
                    	
	                     <div class="col-sm-6">
                        <div class="form-group">
                          {{ q_form.numero.label}}
                          {{ q_form.numero|add_class:'form-control' }}
                          {{ q_form.numero.errors }}
                        </div>
                          
                      </div>
                    </div>
                    <div class="row">	                    
                    	<!-- <div class="col-sm-6">
	                        <div class="form-group">
	                          {{ q_form.ciudad.label}}
	                          {{ q_form.ciudad|add_class:'form-control' }}
	                          {{ q_form.ciudad.errors }}
	                        </div>
	                      </div> -->
		                    <div class="col-sm-6">
		                      <div class="form-group">
			                      {{ q_form.foto.label}}
			                      {{ q_form.foto }}
			                      {{ q_form.foto.errors }}
		                    	</div>
		                    </div>
	                   
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
           
                </form>
              </div><!-- /.box -->
            </div><!--/.col (left) -->
        
          </div>   <!-- /.row -->
        </section><!-- /.content -->

{% endblock block_content%}