{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block block_content %}

<section class="content-header">
          <h1>
            Editar Marca
          </h1>
          
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-xs-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="POST">
                {% csrf_token %}
                  <div class="box-body">

                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} alert-dissmissable">
                              {{message}}
                          </div>
                      {%endfor%}
                  {% endif %}
                   {{ form.non_field_errors }}
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre|add_class:'form-control' }}
                            {{ form.nombre.errors }}
                        </div>
                      </div>
                    </div>
                    
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </div>
           
                </form>
              </div><!-- /.box -->
            </div><!--/.col (left) -->
        
          </div>   <!-- /.row -->
        </section><!-- /.content -->

{% endblock block_content%}