{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Marca de condones
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                            

                  <div class="box-tools pull-right">
	                
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Marca</th>
                        <th>Creado</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for m in object_list %}
                    	<tr>
                        <th><a href="{% url 'dashboard:marca_editar' m.pk %}">{{m.nombre }}</a></th>
	                      <th>{{m.created|date:'Y/m/d H:i'}}</th>
                        
                        <th></th>

                        </tr>
                    {% empty %}
                     <tr>
                       <th>No se encontraron pagos por recibir</th>
                        <th></th>
                       <th></th>
                       
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Marca</th>
                        <th>Creado</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}