{% load staticfiles %}
{% load thumbnail %}
 <!-- =============================================== -->

      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.profile.picture|default:'default_profile.png' 160x160 crop %}">
            </div>
            <div class="pull-left info">
              <p>{{ user.name }}</p>
              <a href="#"><small>Quiickly</small></a>
            </div>
          </div>
          <!-- search form 
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>-->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

              {% for m in menu %}

              {% if m.submenu %}
                <li class="treeview {% if m.active %}active{% endif %}">
                  <a href="#">
                    <i class="fa {{m.icono}}"></i> <span>{{m.name}}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu {% if m.active %}menu-open{% endif %}" {% if m.active %}style="display:block;"{% endif %}>
                  {% for sm in m.submenu %}
                      <li>
                          <a href="{{ sm.surl }}"><i class="fa fa-circle-o"></i> {{sm.sname}}</a>
                      </li>
                      {% endfor %}
                    
                  </ul>
                </li>
                {% else %}
                  <li class="{% if m.active %}active{% endif %}">
                    <a href="{{m.link}}" >
                      <i class="fa {{ m.icono }}"></i> <span>{{m.name}}</span> 
                    </a>
                  </li>
              
              {% endif %}
                
                  
              
        
              {% endfor %}
            
            <!-- 
            <li>
              <a href="../widgets.html">
                <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">Hot</small>
              </a>
            </li> -->
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- =============================================== -->