{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Pagos
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Pagos por recibir</h3>
                            

                  <div class="box-tools pull-right">
	                
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Quiickler</th>
                        <th>Servicio</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Direccion</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for p in object_list %}
                    	<tr>
	                      <th>{{p.quiickler.nombre}}</th>
                        <th>{{p.servicio.id }}</th>
                        <th>{{ p.servicio.created|date:'Y/m/d H:i' }}</th>
                        <th>{{ p.servicio.user.email }}</th>
                        <th>{{ p.servicio.direccion.direccion }}</th>
                        <th>{{ p.servicio.total }}</th>
                        <th> <a href="{% url 'dashboard:pagos_registrar' p.pk %}" class="btn btn-sm btn-success"> Registrar pago</a></th>

                        </tr>
                    {% empty %}
                     <tr>
                       <th>No se encontraron pagos por recibir</th>
                        <th></th>
                       <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                       
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Quiickler</th>
                        <th>Pedido</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Direccion</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}