{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Productos
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Productos Registrados: <strong>{{ object_list.count }}</strong></h3>
                  <br>
                  <br>
                  <h3 class="box-title">Productos Disponibles: <strong class="text-success">{{ disponibles}}</strong></h3>
                 

                  <div class="box-tools pull-right">
	                
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th>Precio Express.</th>
                        <th>Precio Programado</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for p in object_list %}
                    	<tr>
	                        <td><a href="{% url 'dashboard:producto_editar' p.pk %}">{{p.nombre}}</a></td>
	                        <td>{{ p.descripcion }}</td>
                          <td>{{ p.marca }}</td>
                          <td>{{ p.tipo }}</td>
                          <td>{{ p.cantidad }}</td>
                          <td>{{ p.estado }}</td>
	                        <td>{{p.precio}}</td>
                          <td> {{ p.precio_programado }}</td>
                          <td> </td>

                        </tr>
                    {% empty %}
                     <tr>
                       <td>No se encontraron Productos en la base de datos!.</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>

                       
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                        <th>Precio Express</th>
                        <th>Precio Programado</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}