{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block head_extra %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    
    
{% endblock head_extra %}
{% block block_content %}

    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Ubicacion de los quiicklers
            
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Mapa Busqueda de Quiicklers </h3>
                  <br>
                  <span>Cantidad de consultas de quiicklers: </span><strong>{{ object_list.count }}</strong><br>
                  <span> <strong style="color:green;">Color verde = Disponibles</strong>; <strong style="color:red;">Color Rojo: No disponibles</strong>; <strong style="color:purple;"> Color morado: Busquedas</strong></span>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div id="mapa" style="height:500px">
                    
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
    
    <script>

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('mapa'), {
          center: {lat: 3.9154969, lng: -71.4048942},
          zoom: 5
        });
        {% for q in object_list %}
            var myLatLng = {lat: {{q.latitud|stringformat:"f"}}, lng: {{q.longitud|stringformat:"f"}}};
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              icon: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png',
              title: 'Busqueda'
            });  
        {% endfor %}
        {% for q in quiickler_list %}
            var myLatLng = {lat: {{q.latitud|stringformat:"f"}}, lng: {{q.longitud|stringformat:"f"}}};
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              {% if q.estado %}
                  
              
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                {% else %}
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
              {% endif %}
              title: '{{ q.nombre }}'
            });  
        {% endfor %}
        
      }
      google.maps.event.addDomListener(window, 'load', initMap);

    </script>
 {% endblock js %}
