{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Quiicklers
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Lista de Quiicklers</h3>
                  <div class="box-tools pull-right">
	                <a href="{% url 'dashboard:quiickler_create' %}" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Correo</th>
                        <th>N. Servicios</th>
                        <th>Placa</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Estado </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for q in object_list %}
                    	<tr {% if not q.user.is_active %}
                          style="border: 3px solid #dd4b39 !important;"
                      
                      {% endif %}>
	                        <td><a href="{% url 'dashboard:quiickler_edit' q.pk %}">{{q.user.email}}</a></td>
	                        <td> {{ q.servicio_set.count }}</td>
	                        <td>{{ q.placa }}</td>
	                        <td>{{ q.direccion }} </td>
	                        <td> 
	                        {% if q.numero %}
	                        	{{ q.numero }} 
	                        {% else %}
	                            No tiene numero
	                        
	                        {% endif %}
	                        </td>
	                        <td> {% if q.estado %}
	                            <i class="fa fa-circle text-success"></i> Disponible
	                        {% else %}
	                        	<i class="fa fa-circle text-danger"></i> No Disponible
	                        {% endif %}</td>
                          <td>
                          {% if q.user.is_active %}

                              
                          <a href="{% url 'dashboard:quiickler_eliminar' q.pk %}" class="btn btn-sm btn-danger">Desactivar cuenta</a>
                          {% else %}
                              Cuenta desactivada
                          {% endif %}</td>

                        </tr>
                    {% empty %}
                     <tr>
                       <td>No se encontraron Quiicklers en la base de datos!.</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Correo</th>
                        <th>N. Servicios</th>
                        <th>Placa</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Estado </th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}
