{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenida</title>
    

    <style type="text/css">
		/* -------------------------------------
			    GLOBAL
			    A very basic CSS reset
			------------------------------------- */
			* {
			    margin: 0;
			    padding: 0;
			    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			    box-sizing: border-box;
			    font-size: 14px;
			}

			img {
			    max-width: 100%;
			}

			body {
			    -webkit-font-smoothing: antialiased;
			    -webkit-text-size-adjust: none;
			    width: 100% !important;
			    height: 100%;
			    line-height: 1.6;
			}

			/* Let's make sure all tables have defaults */
			table td {
			    vertical-align: top;
			}

			/* -------------------------------------
			    BODY & CONTAINER
			------------------------------------- */
			body {
			    background-color: #f6f6f6;
			}

			.body-wrap {
			    
			}

			.container {
			    
			}

			.content {
			    
			}

			/* -------------------------------------
			    HEADER, FOOTER, MAIN
			------------------------------------- */
			.main {
			    
			}

			.content-wrap {
			    
			}

			.content-block {
			    
			}

			.header {
			    width: 100%;
			    margin-bottom: 20px;
			}

			.footer {
			    width: 100%;
			    clear: both;
			    color: #999;
			    padding: 20px;
			}
			.footer a {
			    color: #999;
			}
			.footer p, .footer a, .footer unsubscribe, .footer td {
			    font-size: 12px;
			}

			/* -------------------------------------
			    TYPOGRAPHY
			------------------------------------- */
			h1, h2, h3 {
			    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			    color: #000;
			    margin: 40px 0 0;
			    line-height: 1.2;
			    font-weight: 400;
			}

			h1 {
			    font-size: 32px;
			    font-weight: 500;
			}

			h2 {
			    font-size: 24px;
			}

			h3 {
			    font-size: 18px;
			}

			h4 {
			    font-size: 14px;
			    font-weight: 600;
			}

			p, ul, ol {
			    margin-bottom: 10px;
			    font-weight: normal;
			}
			p li, ul li, ol li {
			    margin-left: 5px;
			    list-style-position: inside;
			}

			/* -------------------------------------
			    LINKS & BUTTONS
			------------------------------------- */
			a {
			    color: #1ab394;
			    text-decoration: underline;
			}

			.btn-primary {
			    
			}

			/* -------------------------------------
			    OTHER STYLES THAT MIGHT BE USEFUL
			------------------------------------- */
			.last {
			    margin-bottom: 0;
			}

			.first {
			    margin-top: 0;
			}

			.aligncenter {
			    text-align: center;
			}

			.alignright {
			    text-align: right;
			}

			.alignleft {
			    text-align: left;
			}

			.clear {
			    clear: both;
			}

			/* -------------------------------------
			    ALERTS
			    Change the class depending on warning email, good email or bad email
			------------------------------------- */
			.alert {
			    font-size: 16px;
			    color: #fff;
			    font-weight: 500;
			    padding: 20px;
			    text-align: center;
			    border-radius: 3px 3px 0 0;
			}
			.alert a {
			    color: #fff;
			    text-decoration: none;
			    font-weight: 500;
			    font-size: 16px;
			}
			.alert.alert-warning {
			    background: #f8ac59;
			}
			.alert.alert-bad {
			    background: #ed5565;
			}
			.alert.alert-good {
			    background: #1ab394;
			}

			/* -------------------------------------
			    INVOICE
			    Styles for the billing table
			------------------------------------- */
			.invoice {
			    margin: 40px auto;
			    text-align: left;
			    width: 80%;
			}
			.invoice td {
			    padding: 5px 0;
			}
			.invoice .invoice-items {
			    width: 100%;
			}
			.invoice .invoice-items td {
			    border-top: #eee 1px solid;
			}
			.invoice .invoice-items .total td {
			    border-top: 2px solid #333;
			    border-bottom: 2px solid #333;
			    font-weight: 700;
			}

			/* -------------------------------------
			    RESPONSIVE AND MOBILE FRIENDLY STYLES
			------------------------------------- */
			@media only screen and (max-width: 640px) {
			    h1, h2, h3, h4 {
			        font-weight: 600 !important;
			        margin: 20px 0 5px !important;
			    }

			    h1 {
			        font-size: 22px !important;
			    }

			    h2 {
			        font-size: 18px !important;
			    }

			    h3 {
			        font-size: 16px !important;
			    }

			    .container {
			        width: 100% !important;
			    }

			    .content, .content-wrap {
			        padding: 10px !important;
			    }

			    .invoice {
			        width: 100% !important;
			    }
			}
    </style>
</head>
<body style="background-color: #f6f6f6;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;">

<table class="body-wrap" style="background-color: #f6f6f6;width: 100%;">
    <tr>
        <td></td>
        <td class="container" width="600" style="display: block !important;max-width: 600px !important;margin: 0 auto !important;clear: both !important;">
            <div class="content" style="max-width: 600px;margin: 0 auto;display: block;padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="background: #fff;border: 1px solid #e9e9e9;border-radius: 3px;">
                    <tr>
                        <td class="content-wrap" style="padding: 20px;">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="aligncenter" style="text-align: center;" width="545px">
                                        <img class="img-responsive" width="30%" src="http://104.131.74.157/static/img/logo.png"/>
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="padding: 0 0 20px;">
                                        <h3 style="color: #2A2828 !important;">Hola, {{ nombre|capfirst }}!</h3>
                                        <br />
                                        <br />
                                        <p>Se ha generado una nueva contraseña para ti.</p>
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                               <tr>
                                    <td class="content-block aligncenter" style="text-align: center;">
                                        <span class="btn-primary" style="background-color: #b6b6b6; border-color: #b6b6b6;text-decoration: none;color: #FFF;border-width: 5px 10px;line-height: 2;font-weight: bold;text-align: center;display: inline-block;border-radius: 5px;padding:10px;"> {{password}} </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="padding: 0 0 20px;">
                                    <br />
                                    <br />
                                    <br />
                                        <span> Equipo Quiickly</span>
                                        <br />
                                        <span> soporte@quiickly.co</span>
                                        <br />
                                        <span> quiickly.co</span>
                                    </td>
                                </tr>

                               
                               
                              </table>
                        </td>
                    </tr>
                </table>
                <div class="footer" style="width: 100%;clear: both;color: #999;padding: 20px;">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block" style="padding: 0 0 20px;text-align: center;">Siguenos <a href="#">@quiickly</a> en Twitter.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>

</html>