<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenida</title>
    

    </style>
</head>

<body style="background-color: #f6f6f6;font-family: 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;">

<table class="body-wrap" style="background-color: #f6f6f6;
    width: 100%;">
    <tr>
        <td></td>
        <td class="container" width="600" style="display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    /* makes it centered */
    clear: both !important;">
            <div class="content" style="max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;">
                    <tr>
                        <td class="content-wrap" style="padding: 20px;">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="http://placehold.it/518x145"/>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="padding: 0 0 20px;">
                                        <h3>Bienvenido, {{nombre|capfirst }}</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="padding: 0 0 20px;">
                                        Se ha creado tu cuenta de egresado, en la plataforma institucional.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" style="padding: 0 0 20px;">
                                        Por favor confirma tu cuenta presionando el siguiente boton!
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block aligncenter" style="padding: 0 0 20px;text-align: center;">
                                        <a href="{{link}}" class="btn-primary" style="text-decoration: none;color: #FFF;background-color:#1ab394;border: solid #1ab394;border-width: 5px 10px;line-height: 2;font-weight: bold;text-align: center;cursor: pointer;display: inline-block;border-radius: 5px;text-transform: capitalize;">Confirmar cuenta</a>
                                    </td>
                                </tr>
                              </table>
                        </td>
                    </tr>
                </table>
                <div class="footer" style="width: 100%;clear: both;color: #999;padding: 20px;">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block" style="padding: 0 0 20px;text-align: center;">Siguenos <a href="#">@unisinu</a> en Twitter.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
