{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% load humanize %} 
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Servicio
            <small>#{{object.pk}}</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-globe"></i> Quiickly
                <small class="pull-right">Fecha: {{ object.created|date }}</small>
              </h2>
            </div><!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              <b> Usuario</b>
              <address>
                <strong>{{ object.user.email }}</strong><br>
                {{ object.direccion.direccion }}
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Quiickler</b>
              <hr/>
              <address>
                <strong>{{ object.quiickler.nombre }}</strong><br>
                {{ object.quiickler.direccion }}<br>
                Placa: {{ object.quiickler.placa }}<br>
                Telefono: {{ object.quiickler.numero }}<br>
                Email: {{ object.quiickler.user.email }}
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Servicio</b><br>
              <br>
              <b>Servicio ID:</b> {{ object.pk }}<br>
              <b>Tipo:</b> {{ object.tipo|capfirst }} <br>
              <b>Fecha:</b> {{ object.created }} <br>
              <b>Estado:</b> {% if object.estado == 'entregado' %}
                            <span class="label label-success">{{object.estado}}</span></td>
                          {% elif object.estado == 'rechazado' %}
                            <span class="label label-danger">{{object.estado}}</span></td>
                          {% elif object.estado == 'espera' %}
                            <span class="label label-info">{{object.estado}}</span></td>
                          {% else %}
                              <span class="label label-info">{{object.estado}}</span></td>
                          {% endif %} <br>

              
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Cant.</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Precio U.</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                {% for p in object.pedido.productopedido_set.all  %}
                  <tr>
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.producto.nombre }}</td>
                    <td>{{ p.producto.descripcion }}</td>
                    <td> {{ p.producto.precio|floatformat:'2'|intcomma}} </td>
                    <td>{{ p.subtotal|floatformat:'2'|intcomma}}</td>
                  </tr>
                {% endfor %}
                  
                  
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
              
              <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
              </p>
            </div><!-- /.col -->
            <div class="col-xs-6">
              <p class="lead">Monto a pagar</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th style="width:50%">Total:</th>
                    <td>{{ object.total|floatformat:'2'|intcomma }}</td>
                  </tr>
                </table>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <!-- Opciones
              <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
              <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
              -->
            </div>
          </div>
        </section><!-- /.content -->
        <div class="clearfix"></div>
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}