{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Servicios
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"></h3>
                                 

                  <div class="box-tools pull-right">
	                
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Direccion</th>
                        <th>Tipo</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Quiickler</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for s in object_list %}
                    	<tr>
	                        <td> <a href="#">{{s.user.email}}</a> </td>
                           <td> {{ s.created|date:"Y/m/d" }} </td>
	                        <td>
                           {% for item in s.pedido.productopedido_set.all %}
                           <ul style="list-style:none;padding-left:1px;">
                             <li> <i class="fa fa-caret-right"></i> {{ item.cantidad }} - {{  item.producto.nombre }} </li>
                           </ul>
                            
                          {% endfor %} 
                          </td>
                         
                          <td>{{ s.direccion.direccion }}</td>
                          <td> {{ s.tipo|capfirst }}</td>
                          <td>{{ s.total }}</td>
                          <td>
                            {% if s.estado == 'entregado' %}
                            <span class="label label-success">{{s.estado}}</span></td>
                          {% elif s.estado == 'rechazado' %}
                            <span class="label label-danger">{{s.estado}}</span></td>
                          {% elif s.estado == 'espera' %}
                            <span class="label label-info">{{s.estado}}</span></td>
                          {% else %}
                            <span class="label label-info">{{s.estado}}</span></td>
                          {% endif %}
                          </td>
                          <td>{{ s.quiickler.nombre }}</td>
	                        
                          <td> <a href="{% url 'dashboard:servicio-detail' s.pk %}" class="btn btn-sm btn-info"> Detalle </a></td>

                        </tr>

                    {% empty %}
                     <tr>
                       <td>No se encontraron <b>Pedidos</b> en la base de datos!.</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       

                       
                     </tr>

                    {% endfor %}
                         
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Direccion</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Quiickler</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}