{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Usuarios
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"><span>Cantidad: </span><strong>{{ object_list.count }}</strong></h3>
                  
                  <div class="box-tools pull-right">
	                 <a href="{% url 'dashboard:usuarios_email_to_excel' %}"><i class="fa fa-file-excel-o"></i> Exportar a Excel(Email)</a>
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Fecha de registro</th>
                        <th>Correo</th>
                        <th>N. pedidos</th>
                        <th>Activo </th>
                        <th>Ultima sesion</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for u in object_list %}
                    	<tr>
                          <td> {{ u.date_joined|date:"Y/m/d" }}</td>
	                        <td>{{u.email}}</td>
	                        <td> {{ u.pedidos.count }}</td>
	                        <td> {% if u.is_active %}
	                            <i class="fa fa-circle text-success"></i> 
	                        {% else %}
	                        	<i class="fa fa-circle text-danger"></i>
	                        {% endif %}</td>
                          <td>
                          {{ u.last_login|timesince}}
                          </td>
                          <td> </td>

                        </tr>
                    {% empty %}
                     <tr>
                       <td>No se encontraron Usuraios en la base de datos!.</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Fecha de registro</th>
                        <th>Correo</th>
                        <th>N. pedidos</th>
                        <th>Activo </th>
                        <th> Ultima sesion </th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}