{% extends 'dashboard/dash_base.html' %}
{% load staticfiles %}
{% block block_content %}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Ventas
            <small>Informacion</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Lista de ventas</h3>
                  <div class="box-tools pull-right">
	                </a>
	              </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="qlist" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Quiickler</th>
                        <th>Usuario</th>
                        <th>Tipo servicio</th>
                        <th>Productos</th>
                        <th>Gratis?</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for v in object_list %}
                    	<tr>
	                        <td>{{v.id}}</td>
	                        <td> {{ v.created|date:"Y/m/d" }}</td>
	                        <td>{{ v.quiickler.nombre }}</td>
	                        <td>{{ v.servicio.user.email }} </td>
                          <td>{{ v.servicio.tipo|capfirst }}</td>
	                        <td>
                            {% for item in v.servicio.pedido.productopedido_set.all %}
                             <ul style="list-style:none;padding-left:1px;">
                               <li> <i class="fa fa-caret-right"></i> {{ item.cantidad }} - {{  item.producto.nombre }} </li>
                             </ul>
                              
                            {% endfor %}
	                        </td>
                          <td>{% if v.gratis %}
                              Si
                              {% else %}
                                  No
                              {% endif %}</td>
	                        <td> {{ v.total }} </td>
                          <td>
                            <a href="{% url 'dashboard:venta-detail' v.pk %}" class="btn btn-sm btn-info"> Detalle </a>
                          </td>

                        </tr>
                    {% empty %}
                     <tr>
                       <td>No se encontraron <b>Ventas</b> en la base de datos!.</td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                     </tr>

                    {% endfor %}

                      
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Quiickler</th>
                        <th>Usuario</th>
                        <th>Tipo servicio</th>
                        <th>Productos</th>
                        <th>Gratis?</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock block_content %}

 {% block js %}
        <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
      $(function () {
        $("#qlist").DataTable();
    });
    </script>
 {% endblock js %}
