{% extends 'base_web.html' %}


{% load crispy_forms_tags %}

{% block content %}
	<div class="row" >
    	<div class="col-lg-8" style="margin: 0 auto;float: none;">
            <div class="content-form">
                   {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} alert-dissmissable">
                              {{message}}
                          </div>
                      {%endfor%}
                    {% endif %}
                
               <h3 class="titulo">Cambiar contraseña</h3>
               <br>
  					{% crispy form %}
                   
            </div>
        <br>
    </div>
</div>
{% endblock content %}
{% block js %}
    
{% endblock js %}

