@font-face {
    font-family: 'BebasNeue-Regular';
    src:url('../fonts/BebasNeue/BebasNeue_Regular.otf');
    src:url('../fonts/BebasNeue/BebasNeue_Regular.otf'),
        url('../fonts/BebasNeue/ttf/BebasNeue_Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'BebasNeueLight';
  src: url("../fonts/BebasNeue/BebasNeue_Light.eot");
  src: url("../fonts/BebasNeue/BebasNeue_Light.eot?#iefix") format('embedded-opentype'), url("../fonts/BebasNeue/BebasNeue_Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0px;
}
.u-wrapper {
  margin: 0px auto;
  max-width: 1000px;
  padding: 0px 15px;
}

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #fff;
}

.layout {
  text-align: center;
  color: #7437bc !important;
}
.espacio {
  margin-top: 130px;
}
.morado {
  color: #7437bc !important; 
}
.planes {
  margin-top: 26px !important;
}
.layout-logo {
  margin-top: 20px;
}
.layout-title {
  font-family: 'Roboto Slab', serif !important;
  font-weight: 100;
  font-size: 2em;
  line-height: 0.5em;
}
.layout-subtitle {
  font-family: 'Lato', sans-serif !important;
  font-style: italic;
  font-size: 1.5em;
  line-height: 0.5em;
}
.layout-line {
  background: #7437bc;
  height: 3px;
  width: 125px;
  margin: 0px auto;
}
.subscription {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.subscription-itemButton {
  background: #fde500;
  font-family: 'Lato', sans-serif !important;
  border: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #7437bc;
  font-size: 1.1em;
  line-height: 50px;
  padding: 0px 15px;
  margin-top: -5px;
}
.subscription-itemButton:hover {
  background: #7437bc;
  color: #fde500;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.subscription-itemButton-selected {
  background: #7437bc;
  font-family: 'Lato', sans-serif !important;
  color: #fde500;
  border: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 50px;
  padding: 0px 15px;
  margin-top: -5px;
}

.subscription-item {
  text-align: center;
}
.subscription-item .subscription-itemType {
  margin: 0px;
  text-align: center;
}
.subscription-item .subscription-itemType img {
  margin-top: 25px;
  display: block;
}
.subscription-item .subscription-itemNumber {
  background: #7437bc;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 2.1em;
  line-height: 2em;
}
.subscription-item .subscription-itemName {
  font-family: 'BebasNeueLight';
  font-size: 1.7em;
  color: #7437bc;
  /*line-height: 0px;*/
}
.form {
  display: block;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #fff;
  padding: 35px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 25px;
}
.form-left {
  background: -webkit-linear-gradient(top, #a13fea, #7437bc);
  background: -moz-linear-gradient(top, #a13fea, #7437bc);
  background: -o-linear-gradient(top, #a13fea, #7437bc);
  background: -ms-linear-gradient(top, #a13fea, #7437bc);
  background: linear-gradient(to bottom, #a13fea, #7437bc);
  padding: 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.form-leftTitle {
  font-family: 'Lato';
  font-weight: 700;
  color: #7437bc;
  font-size: 1.1em;
  margin-top: 3px;
}
.form-left .form-planPrice {
  max-width: 178px;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0 15px;
  font-family: 'Lato';
  font-weight: 100;
  color: #fff;
  font-size: 1.6em;
  line-height: 1.3 !important;
}
.form-left .form-planPrice span {
  font-size: 0.6em;
  font-weight: 400;
  line-height: 0.3 !important;
}
.form-left .form-planPrice:nth-child(even) {
  padding-bottom: 15px;
  border-bottom: 1px solid #3b1d5f;
}
.form-middle label {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #7437bc;
  font-weight: 700;
}
.form-middle input {
  width: 280px;
  height: 32px;
  padding-left: 5px;
  margin-bottom: 13px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  -webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
}
.form-middle button {
  background: #99e742;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  line-height: 38px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  border: 0px;
  color: #fff;
  font-size: 1.6em;
}
.form-button {
  background: #99e742;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  line-height: 38px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  border: 0px;
  color: #fff;
  font-size: 1.6em;
}
.form-right label {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #7437bc;
  font-weight: 700;
}
.form-right input {
  width: 280px;
  height: 32px;
  padding-left: 5px;
  margin-bottom: 13px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  -webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
}

.button-store {
    background: #F98789 none repeat scroll 0% 0%;
    border-radius: 5px;
    line-height: 50px !important;
    font-family: "BebasNeue-Regular",sans-serif;
    width: 30%;
    border: 0px none;
    color: #FFF;
    font-size: 1.8em;
    height: 49px;
    font-weight: 100;
    cursor: pointer;
    text-transform: uppercase;
}

.button-store:hover {
    background: #CB7B7C none repeat scroll 0% 0%;
}

@media screen and (max-width: 738px) {
  .layout-title,
  .layout-subtitle {
    line-height: 1em;
  }
}

@media screen and (min-width: 768px) {
  .first-wrapper {
    padding-top:130px;
  }
}

@media screen and (max-width: 630px) {
  body {
    text-align: center;
  }
  .subscription {
    display: inline-block;
    text-align: center;
  }
  .subscription-item {
    margin-bottom: 35px;
  }
  .subscription-item .subscription-itemType img {
    margin: 15px auto;
    width: 50%;
  }
}
@media screen and (max-width: 468px) {
  body {
    text-align: center;
  }
  .subscription {
    display: inline-block;
    text-align: center;
  }
  .subscription-item {
    margin-bottom: 35px;
  }
  .subscription-item .subscription-itemType img {
    margin: 15px auto;
    width: 50%;
  }
  
}
