{% extends 'base_web.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="row" >
    	<div class="col-lg-12">
            <div class="content-form">
                   {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} alert-dissmissable">
                              {{message}}
                          </div>
                      {%endfor%}
                    {% endif %}
                
               
                   <form enctype="multipart/form-data" method="POST">
                   {% csrf_token %}
                   <h3 class="titulo">Actualizar información</h3>
                   {{ form.non_field_errors }}
                   <br>
                  <div class="form-group">
                        {{ user_form.name.label_tag }}
                        {{ user_form.name|add_class:'form-control' }}
                        {{ user_form.name.errors }}
                  </div>
                  <div class="form-group">
                        {{ user_form.email.label_tag }}
                        {{ user_form.email|add_class:'form-control' }}
                        {{ user_form.email.errors }}
                  </div>
                  <div class="form-group">
                        {{ profile_form.telefono.label_tag }}
                        {{ profile_form.telefono|add_class:'form-control' }}
                        {{ profile_form.telefono.errors }}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Foto</label>
                    {{ profile_form.picture }}
                    {{ profile_form.picture.errors }}
                    <p class="help-block">Esta imagen se muestra en la App.</p>
                  </div>
                  
                    
                  <button type="submit" class="btn btn-success">Actualizar</button>
                  <a href="{% url 'accounts:password-change' %}" class="btn btn-info"> Cambiar contraseña</a>

                  
                </form>
            </div>
        <br>
    </div>
</div>
{% endblock content %}