{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comprar Quiickly Pack | Quiickly</title>
    <meta name=”description” content=”Somos la app movil que te permitira obtener condones casi al instante, no esperes mas y utiliza Quiickly hoy!”>
        <meta name="keywords" content="Condones, App, movil, preservativos, cali, caracol, adn, miguelreng, miguel, rengifo, quiickly, quickly, startup, colombia, cali, sexo, sexual, sensual, durex, domicilio, 20, minutos, programado, express, embarazos, no, deseados, amor, corazon, amistad">
        <meta name="author" content="Script Media SAS">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static 'web/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/datepicker/datepicker.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ondemand/css/main.css' %}">
    <link href="{% static 'web/main_web.css' %}" rel="stylesheet">
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-34909647-5', 'auto');
          ga('send', 'pageview');
        </script>
</head>
<body>
    <div class="u-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
            {% include "web/header.html" %}
        </div>
      </div>
    </div>
    <div class="u-wrapper first-wrapper">
        <div class="layout">
            <!--<img src="{% static 'ondemand/images/Quiickly-logo.png' %}" width="90px" alt="" class="layout-logo">-->
            <h1 class="layout-title morado">Hey! compra tu Quiickly Pack!.</h1>
            <h2 class="layout-subtitle morado">Disfrutalo con tu pareja.</h2>
            <div class="layout-line"></div>
        </div>
    </div>
    <div class="u-wrapper">
        <section class="subscription">
            {% for producto in productos %}
                <div class="subscription-item">
                <span class="subscription-itemNumber">{{forloop.counter}}</span>
                <p class="subscription-itemName">{{ producto.nombre }}</p>
                {% if producto.id == p_recomendado.id %}
                    <button id="btn-1" class="subscription-itemButton-selected products" value="{{ producto.id }}"><i class="fa fa-check"></i> Seleccionado</button>
                {% else %}
                    <button id="btn-1" class="subscription-itemButton products" value="{{ producto.id }}">Seleccionar</button>    

                {% endif %}
                
                <figure class="subscription-itemType">
                    <img src="{{ producto.imagen_ondemand.url }}" width="300px" alt="">
                </figure>
            </div>
            {% empty %}
               <h2>No tenemos productos disponibles</h2>
            {% endfor %}
            
        </section>
    </div>
    <div class="u-wrapper">           
        
            <form method="POST">
            {% csrf_token %}
                <div class="form" style="margin-bottom: 34px;">
                    
                
                <div class="row">
                   
                        {{ user_form.non_field_errors }}
                        {{ profile_form.non_field_errors }}
                        {{ envio_form.non_field_errors }}
                        {{ suscripcion_form.non_field_errors }}
                            <div class="col-lg-4 col-md-12">
                                <h2 class="form-leftTitle">Elige tu pack:</h2>
                                {% if msg %}
                                    
                                    <span class="" style="color: red; "> *{{msg}}</span>
                                
                                {% endif %}
                                <div class="form-left" id="detalle-paquete">
                                    {% for membresia in planes %}
                                        <input type="radio" name="paquete" class="planes" value="{{membresia.id}}" required/><p class="form-planPrice"> $ {{membresia.precio|intcomma }} COP<br><span> {{ membresia.descripcion }}</span></p> 
                                        <br>
                                    {% empty %}
                                        <p style='color:#fff;'>No tenemos plan, para ese producto</p>
                                    {% endfor %}
                                    
                                        <!--<input type="radio" name="paquete"/><p class="form-planPrice">$50.000 <sub>/ mes</sub><br><span>4 Cajas + Domicilio</span></p>-->
                                        
                                    
                                </div>
                                <br>
                            </div>
                            <div class="col-lg-4 col-md-12">

                                <div class="form-group">
                                    <div class="form-middle">
                                        <label for="name">Nombre y Apellido</label>
                                        
                                        {{ user_form.name }}
                                        {{ user_form.name.errors }}
                                        <label for="telefono">Teléfono</label>
                                        <!--<input type="text" placeholder="+57 1 345 2356" />-->
                                        {{ profile_form.telefono }}
                                        {{ profile_form.telefono.errors }}
                                        <label for="email">Email</label>
                                        <!--<input type="text" placeholder="hola@quiickly.co" />-->
                                        {{ user_form.email }}
                                        {{ user_form.email.errors }}
                                        
                                        {% if not user.is_authenticated %}
                                            <label for="Name">Contraseña</label>
                                            <!--<input type="password" /> <br>-->
                                            {{ user_form.password }}
                                            {{ user_form.password.errors }}
                                                
                                        {% endif %}
                                    </div>

                                        
                                    </div>                                        
                                        
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <div class="form-right">
                                        <label for="Name">Ciudad</label>
                                        {{ envio_form.ciudad }}
                                        {{ envio_form.ciudad.errors }}
                                        <label for="Name">Dirección</label>
                                        <!--<input type="text" placeholder="Calle 3 # 53 - 01, Apto 304 / Interior 3"/>-->
                                        {{ envio_form.direccion }}
                                        {{ envio_form.direccion.errors }}
                                        <br>
                                        <label for="Name">Fecha de envío</label>
                                        <!--<input type="text" name="fecha_envio" class="datepicker" placeholder="2015-04-11"/>-->
                                        {{ suscripcion_form.fecha_entrega|add_class:'datepicker'|attr:'readonly="readonly"' }}
                                        {{ suscripcion_form.fecha_entrega.errors }}
                                    </div>    
                                </div>
                            </div>

                            
                                
                            
                    </div>
                     <input type="hidden" name="producto_seleccionado">

                            <div class="text-center">
                                
                                <button class="form-button button-store" style="margin: 0 auto;max-width: 400px;">Comprar pack</button>
                            </div>
                    
                </div>
            </form>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
    <script> 
        $(document).ready(function() { 
            $('.datepicker').datepicker({
                daysOfWeekDisabled: [0,6],
                startDate: '+2d',
                language: 'es',
                format: 'yyyy-mm-dd',
                autoclose: true
            })
            function formatCurrency(n, currency) {
                return currency + " " + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
            }
            
            $(".planes").click(function(){
                $("input[name='paqueteId']").val($(this).val())
                console.log("Id paquete a enviar: "+ $("input[name='paqueteId']").val());  
            });

            $(".products").click(function()
            {
                $(".products").html('Seleccionar');
                $(".products").removeClass( "subscription-itemButton-selected" ).addClass( "subscription-itemButton" );
                $(this).html('<i class="fa fa-check"></i> '+ 'Seleccionado');
                $(this).removeClass("subscription-itemButton").addClass("subscription-itemButton-selected");
                console.log($(this).val());
                var proSeleccionado = $('input[name="producto_seleccionado"]').val($(this).val());


                var detallePaquete = $('#detalle-paquete');
                detallePaquete.html('<i class="fa fa-spinner fa-pulse"></i> <span style="color:white;">Cargango...</span>');
                $.get("utils/paquetes/"+ $(this).val() + "/", function(data) {
                    detallePaquete.html("");
                    var stringHtml = ""
                  for (var i = data.length - 1; i >= 0; i--) {
                      stringHtml += '<input type="radio" name="paquete" class="planes" value="'+data[i].id+'" required/>';
                      stringHtml += '<p class="form-planPrice"> '+ formatCurrency(data[i].precio, "$") +' <br><span>'+ data[i].descripcion + '</span></p> <br>';
                      detallePaquete.html(stringHtml);
                      
                      console.log(data[i]);
                      
                  };
                  if (data.length == 0){
                    stringHtml += "<p style='color:#fff;'>No tenemos plan, para ese producto</p>"
                    detallePaquete.html(stringHtml);

                  }
                });         
            }); 
        }); 

    </script>
    {% include 'autocomplete_light/static.html' %}
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/567839aacfc607c15e225618/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
</body>
</html>