{% extends 'base_web.html' %}
{% load humanize %}
{% block content %}
        <h3 class="titulo"> Ultimos pedidos</h3>
        <br>
        <div class="table-responsive">
        	<table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Fecha de compra</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th>Estado del envío</th>
                        <th>Dirección</th>
                        <th>Fecha de envío</th>
                        <th>Empresa Transportadora</th>
                        <th>Guia</th>
                    </tr>
                </thead>
                <tbody>
                {% for envio in envios %}
                    
                    <tr>
                        <td>{{ envio.created|date:"d/m/Y" }}</td>
                        <td>{{ envio.paquete.descripcion }}</td>
                        <td> $ {{ envio.user.suscripcion.valor}} </td>
                        <td> {{ envio.estado }} </td>
                        <td>{{ envio.direccion}} , {{envio.ciudad.display_name}}</td>
                        <td> {{ envio.fecha_envio_programada|date:"d/m/Y"}}</td>
                        <td> <a href="{{envio.empresa.pagina }}"> {{ envio.empresa.nombre}} </a></td>
                        <td> {{ envio.guia }}</td>

                    </tr>
                {% empty %}
                  <tr> <th>Aun no tienes pedidos.</th></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock content %}