{% extends 'base_web.html' %}
{% load humanize %}
{% block content %}
    <div class="row">
    	<div class="col-lg-6">
    	<div style="padding: 10px;">
        {% if valid %}
            
        
        {% endif %}
    		
    	
    	   <h3 class="titulo">Detalle de la compra</h3>
    	   <br>
    	   <table class="table" style="text-align: left;">
              <tbody>
                <tr>
                    <td>Productos: </td>
                    <td> {{ data.description }}</td>
                </tr>
                <tr>
                    <td>Dirección de envío: </td>
                    <td> {{orden.user.suscripcion.direccion.direccion }}</td>
                </tr>
                <tr>
                    <td>Fecha de envio: </td>
                    <td> {{ orden.user.suscripcion.fecha_entrega }}</td>
                </tr>
                <tr>
                    <td>Precio total: </td>
                    <td><strong> $ {{ data.TX_VALUE|intcomma }} {{ data.currency}}</strong></td>
                </tr>
              
            </tbody>
        </table>
        <div>{% if data.lapTransactionState == 'DECLINED' or data.lapTransactionState == 'EXPIRED' %}
             
            <a href="{% url 'web:ondemand_index' %}" class="btn btn-sm btn-info">Intentalo de nuevo</a>

          {% endif %}</div>
    	</div>
    	</div>
    	<div class="col-lg-6">
    	<div style="padding: 10px;">
    		<h3 class="titulo">Detalle de la orden</h3>
            <br>
            <table class="table">
  <tbody>
      <tr>
          <td>Estado de la transaccion: </td>
          {% if data.lapTransactionState == 'APPROVED' %}
              
            <td> <i class="fa fa-check" style="font-size:18px; color:green;"></i> Transacción Aprobada</td>
        {% endif %}
          {% if data.lapTransactionState == 'EXPIRED' %}
            <td> <i class="fa fa-times" style="font-size:18px; color:red;"></i> Transacción Expirada </td>
            
            {% endif %}
          {% if data.lapTransactionState == 'DECLINED' %}
            <td> <i class="fa fa-times" style="font-size:18px; color:red;"></i> Transacción rechazada </td>
            

          {% endif %}
          {% if data.lapTransactionState == 'PENDING' %}
            <td> <i class="fa fa-clock-o" style="font-size:18px; color:red;"></i> Transacción pendiente de pago </td>
            

          {% endif %}
      </tr>
  </tbody>
</table>
    
        
    	</div>
    	</div>
    </div>
{% endblock content %}