{% extends "password_reset/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
	<div class="row" >
    	<div class="col-lg-5" style="margin: 0 auto;float: none;">
            <div class="content-form" >
                   {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} alert-dissmissable">
                              {{message}}
                          </div>
                      {%endfor%}
                    {% endif %}
                
               
                   <form enctype="multipart/form-data" method="POST" action="{{ url }}">
                   {% csrf_token %}
                   <h3 class="titulo">{% trans "Password recovery" %}</h3>
                   {{ form.non_field_errors }}
                   <br>
                  <div class="form-group">
                        {{ form.username_or_email.label_tag }}
                        {{ form.username_or_email|add_class:'form-control' }}
                        {{ form.username_or_email.errors }}
                  </div>
              
                  <button type="submit" class="btn btn-success" value="{% trans "Recover my password" %}"> Recuperar contraseña</button>
                </form>
            </div>
        <br>
    </div>
</div>
{% endblock %}