{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<p class="text-web">{% trans "Your password has successfully been reset. You can use it right now on the login page." %}
	</p>
	<div class="text-center" style="margin-top: 65px;">
		<a href="{% url 'accounts:login'%}" class="btn btn-success"> Iniciar sesión</a>
		
	</div>

{% endblock %}
