{% extends "password_reset/base.html" %}{% load i18n %}
{% load widget_tweaks %}
{% block content %}
	<div class="row" >
    	<div class="col-lg-6" style="margin: 0 auto;float: none;">
            <div class="content-form" >
              
               	{% if invalid %}{% url "password_reset_recover" as recovery_url %}
					<p class="text-web">{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
				{% else %}
					<p class="text-web">{% blocktrans %}Hi, <strong> {{ username }} </strong>. Please choose your new password.{% endblocktrans %}</p>
					<form method="post" action="{% url 'password_reset_reset' token %}">
						{% csrf_token %}
                   
                   {{ form.non_field_errors }}
                   <br>
                  <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1|add_class:'form-control' }}
                        {{ form.password1.errors }}
                  </div>
                  <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2|add_class:'form-control' }}
                        {{ form.password2.errors }}
                  </div>
                  <button type="submit" class="btn btn-success" value="{% trans 'Set new password' %}"> {% trans 'Set new password' %}</button>
						
					</form>
				{% endif %}
                   

            </div>
        <br>
    </div>
</div>
	
{% endblock %}